.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.button--cta {
  background: #00d3b8;
  color: #000;
  font-weight: bold;
  padding: 0.7rem 2rem;
  border-radius: 999px;
  font-size: 1rem;
}
.button--cta:hover {
  background: #04c1ac;
}

