:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --segment-bg: #1e1e1e;
  --segment-border: #1e1e1e;
  --textarea-bg: #e0e0e0;
  --textarea-text: #333333;
  --toggle-on-bg: linear-gradient(to right, #04d1c1, #51a2e6);
}

body.light {
  --bg-color: #f9f9f9;
  --text-color: #000000;
  --segment-bg: #ffffff;
  --segment-border: #cccccc;
  --textarea-bg: #f0f0f0;
  --textarea-text: #000000;
}
